@import 'colors';
@import 'vars';


html, body, .page-wrapper {
    height: 100%;
    width: 100%;
    font-family: $body-font;
}

body {
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
}

.submit-paper {
    input, textarea {
        margin-bottom: 10px;
    }
}
