<div>

    <h2>Home</h2>

    <p>Pages:</p>
    <div ng-if="user.Role == 'Author'">
      <a ui-sref="inside.submit-paper">Create a Paper</a>
      <a ui-sref="inside.view-papers">View Papers</a>
      <a ui-sref="inside.update-user-role">Update User Role</a>
      <a ui-sref="inside.view-papers-pcm">PCM Review Papers</a>
      <a ui-sref="inside.set-paper-preference-pcm">PCM Set Paper Preference</a>
    </div>
    <div ng-if="user.Role == 'PCC'">
      <a ui-sref="inside.view-papers">View Papers</a>
      <a ui-sref="inside.rate-paper">Rate Paper</a>
    </div>
</div>
