<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Notifications</h1>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="notification in notifications | orderBy: '-createdAt'">
                <p>{{notification.Text}}</p>
                <p>{{notification.createdAt | date: 'medium'}}</p>
            </li>
        </ul>

        <!--<button class="btn btn-default" ng-click="createTestNotification()">Create Test Notification</button>-->
    </div>
</div>
