<form ng-submit="updatePaper()" class="form-horizontal">
    <fieldset>
        <legend>Update User Role</legend>

        <div class="jumbotron" style="padding-bottom: 20px;padding-left: 10px;padding-right: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-md-12"><h4>PCM Assignment</h4></div>
            </div>

            <div class="row">
                <div class="col-md-5">All Users</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">PCM Users</div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <select id='selectAll' multiple size='10' style="width:100%">
                        <option ng-repeat="user in pcm_AllUsers" value='{{user.id}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type='button' class="btn btn-default btn-sm" type="button" id='Src2Dest'
                            onclick='Move2Source();'><span class="glyphicon glyphicon-arrow-right"></span></button>
                    <br/>
                    <button type='button' class="btn btn-default btn-sm" type="button" id='Dest2Src'
                            onclick='Move2Destination();'><span class="glyphicon glyphicon-arrow-left"></span></button>
                </div>
                <div class="col-md-5">
                    <select id='selectPCM' multiple size='10' style="width:100%">
                        <option ng-repeat="user in pcmUsers" value='{{user.id}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="jumbotron" style="padding-bottom: 20px;padding-left: 10px;padding-right: 10px;padding-top: 10px;">
            <div class="row">
                <div class="col-md-12"><h4>PCC Assignment</h4></div>
            </div>

            <div class="row">
                <div class="col-md-5">All Users</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-5">PCC Users</div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <select id='selectAll' multiple size='10' style="width:100%">
                        <option ng-repeat="user in pcc_AllUsers" value='{{user.id}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type='button' class="btn btn-default btn-sm" type="button" id='Src2Dest'
                            onclick='Move2Source();'><span class="glyphicon glyphicon-arrow-right"></span></button>
                    <br/>
                    <button type='button' class="btn btn-default btn-sm" type="button" id='Dest2Src'
                            onclick='Move2Destination();'><span class="glyphicon glyphicon-arrow-left"></span></button>
                </div>
                <div class="col-md-5">
                    <select id='selectPCC' multiple size='10' style="width:100%">
                        <option ng-repeat="user in pccUsers" value='{{user.id}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <button class="btn btn-primary" type="submit">Update</button>
                <button class="btn btn-danger" type="button" onclick="window.location.href='/home.html'">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>

<p ng-if="paperCreated">Paper Submitted Successfully</p>

