<form ng-submit="updateRoles()" class="form-horizontal">
    <fieldset>
        <legend>Update User Role</legend>

        <div class="jumbotron" style="padding-bottom: 20px;padding-left: 10px;padding-right: 10px;padding-top: 10px;">

            <div class="row">
                <div class="col-md-3">All Users</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-3">PCM Users</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-3">PCC Users</div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <select id='selectAllUsers_PCM' multiple size='10' style="width:100%">
                        <option ng-repeat="user in allUsers" value='{{user.ID}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type='button' class="btn btn-default btn-sm" type="button" id='btn-AddToPCM'
                            onclick='AddToPCM();'><span class="glyphicon glyphicon-arrow-right"></span></button>
                    <br/>
                    <button type='button' class="btn btn-default btn-sm" type="button" id='btn-RemoveFromPCM'
                            onclick='RemoveFromPCM();'><span class="glyphicon glyphicon-arrow-left"></span></button>
                </div>
                <div class="col-md-3">
                    <select id='selectPCM' multiple size='10' style="width:100%">
                        <option ng-repeat="user in pcmUsers" value='{{user.ID}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button type='button' class="btn btn-default btn-sm" type="button" id='Src2Dest'
                            onclick='AddToPCC();'><span class="glyphicon glyphicon-arrow-right"></span></button>
                    <br/>
                    <button type='button' class="btn btn-default btn-sm" type="button" id='Dest2Src'
                            onclick='RemoveFromPCC();'><span class="glyphicon glyphicon-arrow-left"></span></button>
                </div>
                <div class="col-md-3">
                    <select id='selectPCC' multiple size='10' style="width:100%">
                        <option ng-repeat="user in pccUsers" value='{{user.ID}}'>{{user.FirstName}}&nbsp;{{user.LastName}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <button class="btn btn-primary" type="submit">Update</button>
                <button class="btn btn-danger" type="button" onclick="window.location.href='/home.html'">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>

<p ng-if="paperCreated">Paper Submitted Successfully</p>

<script>
    function AddToPCM()
    {
        var selectedItems = $("#selectAllUsers_PCM > option:selected");
        if (selectedItems.length >= 1){
            selectedItems.each(function(){
                $(this).remove();
                $(this).appendTo("#selectPCM");
            })
        }
        else{
            alert('Please select a user');
        }
    }

    function RemoveFromPCM()
    {
        if ($("#selectPCM option").length == $("#selectPCM > option:selected").length){
            alert("There should be at least 1 PCM");
            return;
        }
        var selectedItems = $("#selectPCM > option:selected");
        if (selectedItems.length >= 1){
            selectedItems.each(function(){
                $(this).remove();
                $(this).appendTo("#selectAllUsers_PCM");
            })
        }
        else{
            alert('Please select a PCM');
        }
    }

    function AddToPCC()
    {
        if ($("#selectPCM option").length == $("#selectPCM > option:selected").length){
            alert("There should be at least 1 PCM");
            return;
        }

        var selectedItems = $("#selectPCM > option:selected");
        if (selectedItems.length >= 1){
            selectedItems.each(function(){
                $(this).remove();
                $(this).appendTo("#selectPCC");
            })
        }
        else{
            alert('Please select a user');
        }
    }

    function RemoveFromPCC()
    {
        if ($("#selectPCC option").length == $("#selectPCC > option:selected").length){
            alert("There should be at least 1 PCC");
            return;
        }
        var selectedItems = $("#selectPCC > option:selected");
        if (selectedItems.length >= 1){
            selectedItems.each(function(){
                $(this).remove();
                $(this).appendTo("#selectPCM");
            })
        }
        else{
            alert('Please select a PCC');
        }
    }
</script>