<legend>Update Paper</legend>
<p ng-if="deadlinePassed">This feature has been disabled. The deadline for paper creation & upload has passed.</p>

<form ng-submit="updatePaper()" class="form-horizontal">
    <fieldset >

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Contact Author:</label>
            <div class="col-md-4">
                <label class="control-label">{{contactAuthor}}</label>
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Paper Title: *</label>
            <div class="col-md-4">
                <input class="form-control" ng-model="paper.Title" placeholder="Title" required/>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-md-4 control-label">File: *</label>
            <div class="col-md-4">
                <input type="file" accept=".doc,.docx,.pdf" class="form-control" fileread="paper.Document" format="format" required />
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Paper Description: *</label>
            <div class="col-md-4">
            <textarea class="form-control" ng-model="paper.Description" placeholder="Description" style="height:150px"
                      required></textarea>
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Contributing Authors:</label>
            <div class="col-md-4">
            <textarea class="form-control" ng-model="paper.ContributingAuthors" placeholder="Contributing Authors"
                      style="height:150px"></textarea>
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Paper:</label>
            <div class="col-md-4">
                <a target="_self" ng-click="downloadDocument(paper)" download="{{paper.Title}}">Click to download</a>
            </div>
        </div>


        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Status:</label>
            <div class="col-md-4">
                <label class="col-md-4 control-label" >{{paper.Status}}</label>
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Created On:</label>
            <div class="col-md-5">
                <label class="col-md-5 control-label" >{{paper.originalCreatedDate | date:'medium'}}</label>
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Last Updated:</label>
            <div class="col-md-5">
                <label class="col-md-5 control-label" >{{paper.updatedAt | date:'medium'}}</label>
            </div>
        </div>

        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label">Current Version/Revision:</label>
            <div class="col-md-4">
                <label class="col-md-1 control-label" >{{paper.Version}}</label>
            </div>
        </div>


        <div class="form-group" ng-if="!deadlinePassed">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-8">
                <button class="btn btn-primary" type="submit" ng-disabled="!isValid()">Update</button>
                <button class="btn btn-danger" type="button" ui-sref="inside.home">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>

<p ng-if="paperCreated">Paper Submitted Successfully</p>

