<style>
    .row.grid:nth-child(1) {
        background: lavenderblush;
    }

    .row.grid:nth-child(even) {
        background: lavender;
    }
</style>


<legend>PCM Review Papers</legend>
<p ng-if="deadlinePassed">This feature has been disabled. The deadline for reviewing papers has passed.</p>
<span ng-if="!deadlinePassed">
<span ng-if="papers.length >= 1">
    <div class="row grid table-bordered">
        <div class="col-sm-3" style="background: burlywood">Title</div>
        <div class="col-sm-3" style="background: burlywood">Description</div>
        <div class="col-sm-2" style="background: burlywood">Contributing Authors</div>
        <div class="col-sm-1" style="background: burlywood">Current Version</div>
        <div class="col-sm-2" style="background: burlywood">Status</div>
        <div class="col-sm-1" style="background: burlywood">Action</div>
    </div>

    <div class="row grid table-bordered" ng-repeat="paper in papers">
        <div class="col-sm-3">{{paper.PaperTitle}}</div>
        <div class="col-sm-3">{{paper.PaperDescription}}</div>
        <div class="col-sm-2">{{paper.PaperContributingAuthors}}</div>
        <div class="col-sm-1">{{paper.CurrentVersion}}</div>
        <div class="col-sm-2">{{paper.PaperStatus}}</div>

        <div class="col-sm-1">
            <a ng-if="paper.PaperStatus=='Submitted'" class="btn btn-sm btn-default"
               href="/rate-paper-pcm/{{paper.SubmissionId}}">Review Paper</a>
            <span ng-if="paper.PaperStatus!='Submitted'">N/A</span>
        </div>


    </div>
</span>

<span ng-if="papers.length == 0">
    No Papers Available for {{contactAuthor}}.<br>
</span>
</span>
<br/>
<button class="btn btn-primary" type="button" onclick="window.location.href='/home.html'">Back</button>
