<style>
    .row.grid:nth-child(1){
        background:lavenderblush;
    }
    .row.grid:nth-child(even){
        background:lavender;
    }
</style>

<p ng-if="loadingPapers">Loading Papers...</p>
<p ng-if="!loadingPapers"><h2>Submitted Papers</h2></p>
<legend>View papers for PCC</legend>

<div class="row grid table-bordered">
    <div class="col-sm-3" style="background: burlywood">Title</div>
    <div class="col-sm-4" style="background: burlywood">Description</div>
    <div class="col-sm-4" style="background: burlywood">Contributing Authors</div>
    <div class="col-sm-4" style="background: burlywood">contact Author</div>
    <div class="col-sm-1" style="background: burlywood">Revision</div>
    <div class="col-sm-1" style="background: burlywood">Action</div>
</div>

<div class="row grid table-bordered" ng-repeat="paper in papers">
    <div class="col-sm-3">{{paper.Title}}</div>
    <div class="col-sm-4">{{paper.Description}}</div>
    <div class="col-sm-4">{{paper.ContributingAuthors}}</div>
    <div class="col-sm-3">{{paper.user.FirstName}} {{paper.user.LastName}}</div>
    <div class="col-sm-1">{{paper.Version}}</div>
    <div class="col-sm-1"><a id="assign" ng-click="assign(paper)">Assign</a></div>
</div>

<div id="assignPcmDialogBox" title="Assign Reviewers">
  <form name="assignPcmForm">
    <p>Please select reviewers for the paper</p>
    <p ng-if="valmsg">{{valmsg}}</p>
    <div>
      <label for="reviewer1">Reviewer 1</label>
      <select id="reviewer1" name="reviewer1" ng-model="selectedReviewer1" required="true">
        <option value="" disabled selected>Select</option>
        <option ng-repeat="pcm in pcms" value="{{pcm}}">{{pcm.FirstName}} {{pcm.LastName}}</option>
      </select>
      <p ng-show="assignPcmForm.reviewer1.$invalid" class="help-block">This field is required.</p>
    </div>
    <div>
      <label for="reviewer2">Reviewer 2</label>
      <select id="reviewer2" name="reviewer2" ng-model="selectedReviewer2" required="true">
        <option value="" disabled selected>Select</option>
        <option ng-repeat="pcm in pcms" value="{{pcm}}">{{pcm.FirstName}} {{pcm.LastName}}</option>
      </select>
      <p ng-show="assignPcmForm.reviewer2.$invalid" class="help-block">This field is required.</p>
    </div>
    <div>
      <label for="reviewer3">Reviewer 3</label>
      <select id="reviewer3" name="reviewer3" ng-model="selectedReviewer3" required="true">
        <option value="" disabled selected>Select</option>
        <option ng-repeat="pcm in pcms" value="{{pcm}}">{{pcm.FirstName}} {{pcm.LastName}}</option>
      </select>
      <p ng-show="assignPcmForm.reviewer3.$invalid" class="help-block">This field is required.</p>
    </div>
    <!-- <div>
      <button type="submit">Submit</submit>
    </div> -->
  </form>
<div>


<!-- <div>
    <p ng-if="loadingPapers">Loading Papers...</p>
    <p ng-if="!loadingPapers"><h2>Submitted Papers</h2></p>

    <div ng-repeat="paper in papers">
        <p>Title: {{paper.Title}}</p>
        <p>Contributing Authors: {{paper.ContributingAuthors}}</p>
        <p>Description: {{paper.Description}}</p>
        <p>Contact Author: {{paper.ContactAuthorID}}</p>
        <p>Revision : {{paper.Version}}</p>

        <br/>
    </div>
</div>
-->
