<style>
    .row.grid:nth-child(1) {
        background: lavenderblush;
    }

    .row.grid:nth-child(even) {
        background: lavender;
    }
</style>

<p ng-if="loadingPapers">Loading Papers...</p>

<legend>My Papers</legend>
<span ng-if="papers.length >= 1">
    <div class="row grid table-bordered">
        <div class="col-sm-3" style="background: burlywood">Title</div>
        <div class="col-sm-3" style="background: burlywood">Description</div>
        <div class="col-sm-3" style="background: burlywood">Contributing Authors</div>
        <div class="col-sm-1" style="background: burlywood">Version</div>
        <div class="col-sm-1" style="background: burlywood">Status</div>
        <div class="col-sm-1" style="background: burlywood">Action</div>
    </div>

    <div class="row grid table-bordered" ng-repeat="paper in papers">
        <div class="col-sm-3">{{paper.Title}}</div>
        <div class="col-sm-3">{{paper.Description}}</div>
        <div class="col-sm-3">{{paper.ContributingAuthors}}</div>
        <div class="col-sm-1">{{paper.Version}}</div>
        <div class="col-sm-1">{{paper.Status}}</div>

        <div  class="col-sm-1">
            <a href="#" ng-if="paper.Status === 'Pending Submission'" onclick="alert('not implemented')" class="btn btn-sm btn-default">Submit</a>  <!-- TODO implement submit functionality-->
            <a href="/update-paper/{{paper.paperId}}" ng-if="paper.Status === 'Pending Submission'" class="btn btn-sm btn-default">Update</a>
            <a href="/view-paper-versions/{{paper.paperId}}"  ng-if="paper.Version > 1 " class="btn btn-sm btn-default">Revisions</a>
        </div>

   <!--
        <div ng-if="paper.Status === 'Pending Submission'" class="col-sm-1">
            <a href="#" onclick="alert('not implemented')">Submit</a>
            <a href="/update-paper/{{paper.id}}">Update</a>
        </div>
        <div ng-if="paper.Status != 'Pending Submission'" class="col-sm-1">
            N/A
        </div>
        <div ng-if="paper.Version > 1 " class="col-sm-1">
            <a href="#" onclick="alert('not implemented')">View Version</a>
        </div>
    -->

    </div>
</span>

<span ng-if="papers.length == 0">
    No Papers Available for {{contactAuthor}}.<br>
</span>

<br/>
<button class="btn btn-primary" type="button" onclick="window.location.href='/home.html'">Back</button>
