<style>
    .row.grid:nth-child(1){
        background:lavenderblush;
    }
    .row.grid:nth-child(even){
        background:lavender;
    }
</style>

<p ng-if="loadingPapers">Loading Papers...</p>
<p ng-if="!loadingPapers"><h2>Submitted Papers</h2></p>
<legend>View papers for PCC</legend>

<div class="row grid table-bordered">
    <div class="col-sm-2" style="background: burlywood">Title</div>
    <div class="col-sm-2" style="background: burlywood">Description</div>
    <div class="col-sm-2" style="background: burlywood">Contributing Authors</div>
    <div class="col-sm-2" style="background: burlywood">contact Author</div>
    <div class="col-sm-1" style="background: burlywood">Revision</div>
    <div class="col-sm-1" style="background: burlywood">Action</div>
</div>

<div class="row grid table-bordered" ng-repeat="paper in papers">
    <div class="col-sm-2">{{paper.PaperTitle}}</div>
    <div class="col-sm-2">{{paper.PaperDescription}}</div>
    <div class="col-sm-2">{{paper.PaperContibutingAuthors}}</div>
    <div class="col-sm-2">{{paper.UserFirstName}} {{paper.UserLastName}}</div>
    <div class="col-sm-1">{{paper.CurrentVersion}}</div>
    <div class="col-sm-1">
      <a id="assign" ng-show="!paper.SubmissionReviewer1Id" ng-click="assign(paper)">Assign</a>
      <a id="view" ng-show="paper.SubmissionReviewer1Id" ng-click="view(paper)">View</a>
      <a id="rate" ng-show="paper.SubmissionReviewer1Id" href="/rate-paper-pcc/{{paper.SubmissionId}}">View</a>
    </div>
</div>

<div id="assignPcmDialogBox" title="Assign Reviewers">
  <form name="assignPcmForm" ng-submit="submitAssignment()">
    <p>Please select reviewers for the paper</p>
    <div ng-if="valmsg" class="errorMsg">
      {{valmsg}}
    </div>
    <div>
      <label for="reviewer1">Reviewer 1</label>
      <select id="reviewer1" name="reviewer1" ng-model="selectedReviewer1" required ng-options="pcm.ID as pcm.FirstName+' '+pcm.LastName for pcm in pcms">
        <option value="" disabled selected>Select</option>
      </select>
      <!-- <div ng-messages="assignPcmForm.reviewer1.$error" ng-if="assignPcmForm.reviewer1.$dirty">
        <div ng-message="required">Reviewer 1 is required!</div>
      </div> -->
    </div>
    <div>
      <label for="reviewer2">Reviewer 2</label>
      <select id="reviewer2" name="reviewer2" ng-model="selectedReviewer2" required ng-options="pcm.ID as pcm.FirstName+' '+pcm.LastName for pcm in pcms">
        <option value="" disabled selected>Select</option>
      </select>
      <!-- <div ng-messages="assignPcmForm.reviewer2.$error" ng-if="assignPcmForm.reviewer2.$dirty">
        <div ng-message="required">Reviewer 2 is required!</div>
      </div> -->
    </div>
    <div>
      <label for="reviewer3">Reviewer 3</label>
      <select id="reviewer3" name="reviewer3" ng-model="selectedReviewer3" required ng-options="pcm.ID as pcm.FirstName+' '+pcm.LastName for pcm in pcms">
        <option value="" disabled selected>Select</option>
      </select>
      <!-- <div ng-messages="assignPcmForm.reviewer3.$error" ng-if="assignPcmForm.reviewer3.$dirty">
        <div ng-message="required">Reviewer 3 is required!</div>
      </div> -->
    </div>
    <div>
      <input id="submit" type="submit" name="submit" value="Submit">
    </div>
  </form>
</div>
